annotated-types
anyio
click
fastapi
filelock
fsspec
h11
idna
Jinja2
MarkupSafe
mpmath
networkx
uvicorn

numpy

pillow
pydantic
pydantic_core
python-multipart
requests
setuptools
sniffio
starlette
sympy

torch
torchvision

typing-inspection
typing_extensions

pandas
scikit-learn

transformers
tokenizers
safetensors
huggingface-hub

paddlepaddle
paddleocr

opencv-python
pillow